# Script for Processing IAM data (line based)for TrOCR transformer format for purpose of HTR
## 1- Text process

In [1]:
import pandas as pd
raw_data = 'C:/Users/Mohammed/Downloads/data/IAM/ascii/'
df= ( 
        pd.read_csv(raw_data + "lines.txt", header=None, sep=r"\s", engine="python",
                    usecols=[0,8], names=["filename", "text"])
            .assign(filename= lambda x: x["filename"].add(".png"),
                    text= lambda x: x["text"].str.replace(r'[\|"]', " ", regex=True)
                                             .str.replace(r"\s+", " ", regex=True))
    )

C:\Users\Mohammed\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Mohammed\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Mohammed\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
# # at this did miss for some data
# import pandas as pd
# raw_data = 'C:/Users/Mohammed/Downloads/data/IAM/ascii/'
# df= ( 
#         pd.read_csv(raw_data + "sentences.txt", 
#                     header=None, 
#                     sep=r"(\d+)\s(?=\D)", 
#                     engine="python",
#                     usecols=[0,4], 
#                     names=["filename", "text"])
#                     .assign(filename= lambda x: x["filename"].str.strip().add(".png"),
#                     text= lambda x: x["text"].str.replace(r'[\|"]', " ", regex=True)
#                                              .str.replace(r"\s+", " ", regex=True))
#     )

In [2]:
df.head(10)

          filename                                           text
0  a01-000u-00.png              A MOVE to stop Mr. Gaitskell from
1  a01-000u-01.png          nominating any more Labour life Peers
2  a01-000u-02.png           is to be made at a meeting of Labour
3  a01-000u-03.png                                              M
4  a01-000u-04.png           put down a resolution on the subject
5  a01-000u-05.png             and he is to be backed by Mr. Will
6  a01-000u-06.png                                  Griffiths , M
7  a01-000x-00.png   A MOVE to stop Mr. Gaitskell from nominating
8  a01-000x-01.png  any more Labour life Peers is to be made at a
9  a01-000x-02.png                           meeting of Labour 0M

In [3]:
df.describe()

               filename                                               text
count             13353                                              13353
unique            13353                                              12760
top     a01-000u-00.png  This remarkable man of medicine , whom Sir Fra...
freq                  1                                                  9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13353 entries, 0 to 13352
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  13353 non-null  object
 1   text      13353 non-null  object
dtypes: object(2)
memory usage: 208.8+ KB

In [5]:
df['text'][8]

'any more Labour life Peers is to be made at a'

### Her we save processed dataframe in new txt file

In [6]:
df.to_csv('proceessed_lines.txt', sep='\t', index=False,header = None)

After file txt saved now we can use it

In [8]:
data = 'C:/Users/Mohammed/AI1&2Labs/TrOCR-finetune/7/OCR_HU_Tra2022/JupLab/IAM/'
df = pd.read_csv(data+'proceessed_lines.txt', sep="\t",header=None)
df.rename(columns={0: "file_name", 1: "text"}, inplace=True)
df.head()

         file_name                                   text
0  a01-000u-00.png      A MOVE to stop Mr. Gaitskell from
1  a01-000u-01.png  nominating any more Labour life Peers
2  a01-000u-02.png   is to be made at a meeting of Labour
3  a01-000u-03.png                                      M
4  a01-000u-04.png   put down a resolution on the subject

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13353 entries, 0 to 13352
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   file_name  13353 non-null  object
 1   text       13353 non-null  object
dtypes: object(2)
memory usage: 208.8+ KB

In [10]:
df.describe()

              file_name                                               text
count             13353                                              13353
unique            13353                                              12760
top     a01-000u-00.png  This remarkable man of medicine , whom Sir Fra...
freq                  1                                                  9

In [11]:
df[2:33]

          file_name                                               text
2   a01-000u-02.png               is to be made at a meeting of Labour
3   a01-000u-03.png                                                  M
4   a01-000u-04.png               put down a resolution on the subject
5   a01-000u-05.png                 and he is to be backed by Mr. Will
6   a01-000u-06.png                                      Griffiths , M
7   a01-000x-00.png       A MOVE to stop Mr. Gaitskell from nominating
8   a01-000x-01.png      any more Labour life Peers is to be made at a
9   a01-000x-02.png                               meeting of Labour 0M
10  a01-000x-03.png      Foot has put down a resolution on the subject
11  a01-000x-04.png     and he is to be backed by Mr. Will Griffiths ,
12  a01-000x-05.png                                                 0M
13   a01-003-00.png  Though they may gather some Left-wing support , a
14   a01-003-01.png                         large majority of Labour M
15   a01-003-02.png      turn down the Foot-Griffiths resolution . Mr.
16   a01-003-03.png               Foot's line will be that as Labour M
17   a01-003-04.png          opposed the Government Bill which brought
18   a01-003-05.png        life peers into existence , they should not
19   a01-003-06.png             now put forward nominees . He believes
20   a01-003-07.png        that the House of Lords should be abolished
21   a01-003-08.png          and that Labour should not take any steps
22   a01-003-09.png         which would appear to prop up an out-dated
23   a01-003-10.png                                      institution .
24  a01-003u-00.png              Though they may gather some Left-wing
25  a01-003u-01.png               support , a large majority of Labour
26  a01-003u-02.png                                                  M
27  a01-003u-03.png        Griffiths resolution . Mr. Foot's line will
28  a01-003u-04.png                                be that as Labour M
29  a01-003u-05.png           Government Bill which brought life peers
30  a01-003u-06.png           into existence , they should not now put
31  a01-003u-07.png            forward nominees . He believes that the
32  a01-003u-08.png             House of Lords should be abolished and

In [12]:
!head -20 IAM/ascii/sentences_describe.txt

'head' is not recognized as an internal or external command,
operable program or batch file.

# 2- second step is to make one folder that has all img

In [12]:
# (files[0])

In [13]:
import glob
import os
import shutil
data = 'C:/Users/Mohammed/Downloads/data'
dest_folder = "./img_lines/"
if not os.path.isdir(dest_folder):
    os.mkdir(dest_folder)

for item in glob.glob(data + '/IAM/lines/**/*.png',recursive=True):
    filename = os.path.basename(item)
    full_path = os.path.abspath(item)
    shutil.copy(full_path, os.path.join(dest_folder,filename))

In [14]:
filename ,full_path

('r06-143-04.png',
 'C:\\Users\\Mohammed\\Downloads\\data\\IAM\\lines\\r06\\r06-143\\r06-143-04.png')